<div class="dashboard">

    <div class='some-page-wrapper'>
        <div class='row'>
            <div class='column'>
                <div class='blue-column'>
                    <h2 style="text-align: center;">Information Filtering System</h2>
                    <h6 style="text-align: center;">Create your own recommendation engine</h6>
                </div>
            </div>

        </div>
        <div class='row'>
            <div class='column'> 
                <div class='image-column'>
                    <img class="img-left" src="../../../assets/images/databaseImg.jpg">
                </div>
            </div>
            <div class='column'>
                <div class='image-column'>
                    <h2 class="h1-db">Configured RDBMS Database  </h2>
                    <h6 class="h6-db">&emsp;Create Index using RDBMS Metadata</h6>
                    <h6 class="h6-db">&emsp; sync ES Database with Configured Database</h6>
                </div>
            </div>

        </div>
        <div class='row'>
           
            <div class='column'>
                <div class='image-column'>
                    <h2 class="h1-db_r2">Create ES Index</h2>
                    <h6 class="h6-db_r2">&emsp;Create bulk index,settings and analyzer.</h6>
                    <h6 class="h6-db_r2 ">&emsp;Reindexing and sync Data</h6>
                </div>
            </div>
            <div class='column'> 
                <div class='image-column'>
                    <img class="img-right" src="../../../assets/images/eslogo.png">
                </div>
            </div>

        </div>
        <div class='row'>
            
            <div class='column'> 
                <div class='image-column'>
                    <img class="img-left" src="../../../assets/images/recomendations.png">
                </div>
            </div>
            <div class='column'>
                <div class='image-column'>
                    <h2 class="h1-db_r3">Start Building Your own Recommendation Engine </h2>
                    <h6 class="h6-db_r3">&emsp;Content-Based Filtering.</h6>
                    <h6 class="h6-db_r3">&emsp;Collaborative filtering.</h6>
                    <h6 class="h6-db_r3">&emsp;Hybrid Recommendation Systems.</h6>
                </div>
            </div>

        </div>
        
    </div>


</div>