<div class="dashboard">


    <div class="containerX">

        <div class="colored box title-row">
            <div class="full-column">
                <h1>Information Filtering System</h1>
                <h6>Create your own recommendation engine</h6>
            </div>
        </div>




        <div class="colored box parent-row">
            <div class="inner_column">
                <section class="section_right">
                    <div class=”media”>
                        <img src="../../../assets/images/databaseImg.jpg">
                    </div>
                </section>
            </div>
            <div fxflex="60" class="inner_column">
                <h2 class="h1-db">Configured RDBMS </h2>
                <h6 class="h6-db">&emsp;Create Index using RDBMS Metadata</h6>
                <h6 class="h6-db">&emsp;Sync ES Database with Configured Database</h6>
            </div>

        </div>

        <mat-divider></mat-divider>

        <div class="colored box parent-row">
            <div class="inner_column">

                <h2 class="h1-db_r2">Create ES Index</h2>
                <h6 class="h6-db_r2">&emsp;Create bulk index,settings and analyzer.</h6>
                <h6 class="h6-db_r2">&emsp;Reindexing and sync Data</h6>
            </div>
            <div fxflex="60" class="inner_column">
                <section class="section_left">
                    <div class=”media”>
                        <img src="../../../assets/images/eslogo.png">
                    </div>
                </section>
            </div>

        </div>
        <mat-divider></mat-divider>
        <div class="colored box parent-row">
            <div class="inner_column">
                <section class="section_right">
                    <div class=”media”>
                        <img src="../../../assets/images/recomendations.png">
                    </div>
                </section>
            </div>
            <div fxflex="60" class="inner_column">
                <h2 class="h1-db_r3">Start Building Your own Recommendation Engine </h2>
                <h6 class="h6-db_r3">Content-Based Filtering.</h6>
                <h6 class="h6-db_r3">Collaborative filtering.</h6>
                <h6 class="h6-db_r3">Hybrid Recommendation Systems.</h6>
            </div>

            <mat-divider aria-orientation="vertical"></mat-divider>
        </div>


    </div>



</div>