.dashboard
{
    margin-top: 25%;
    min-height: 760px;
    height: 600px;
    width: 100%;
    background-color: white;
    margin-top: 6%;
}
table {
    width: 100%;
  }

.divided_row_1{
    flex: 1 1 100%; 
    box-sizing: border-box;
    max-width: 50%;
    height:-webkit-fill-available;
   padding: 85px 15px 15px 15px;
}

.divided_row_2{
  flex: 1 1 100%; 
  box-sizing: border-box;
  max-width: 50%;
  height:-webkit-fill-available;
 padding: 85px 15px 15px 15px;
}


.group-title {
    color: #357d8f;
    margin-bottom: 10px;
  }

  .full-width-field {
    width: 100%;
 }

 .direction_row
 {
  flex-direction: row; 
  box-sizing: border-box; 
  display: flex;
 }

 .half_row{
  flex: 1 1 100%; 
  box-sizing: border-box;
  max-width: 50%;
  
}
.control_width{
  min-width: 150px;
  max-width: 150px;
  width: 150px;

}

.mat-form-field {
  /* display: inline-block; */
  position: relative;
  text-align: left;
  width: 90%;
  padding-top: 4%;

}

.btn_right{
display:flex; justify-content:flex-end; width:100%; padding:5px;
}

.btn_width{

    width: 150px;
    margin-right: 50px;

}