<div class="dashboard">

    <div class="containerX">
        <div class="colored box nopad direction_row" fxlayout="row">
            <div fxflex="40" class=" divided_row_1">

                <mat-card class='mat-elevation-z8'>

                    <mat-card-title>
                        <h5 class="group-title">Configured RDBMS Database with project.</h5>
                    </mat-card-title>

                    <mat-card-content>

                        <div>
                            <table mat-table [dataSource]="dataSource">

                              
                                <!-- Name Column -->
                                <ng-container matColumnDef="Connection Type">
                                    <th mat-header-cell *matHeaderCellDef> connectionType </th>
                                    <td mat-cell *matCellDef="let element"> {{element.connectionType}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="Server URL">
                                    <th mat-header-cell *matHeaderCellDef> serverConnectionUrl </th>
                                    <td mat-cell *matCellDef="let element"> {{element.serverConnectionUrl}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="User">
                                    <th mat-header-cell *matHeaderCellDef> userName </th>
                                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="active">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element" > {{element.isActive ? 'Active': 'Inactive'}} </td>
                                </ng-container>

                                <ng-container matColumnDef="view">
                                    <th mat-header-cell *matHeaderCellDef> view </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button color="primary" class="list_icon"
                                            [routerLink]="['view',1]">
                                            <mat-icon aria-label="visibility"> visibility</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button color="primary" class="list_icon">
                                            <mat-icon aria-label="Edit">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button class="list_icon" color="primary">
                                            <mat-icon aria-label="Delete">delete</mat-icon>
                                        </button>
                                    </td>
                                   
                                </ng-container>

                                <!-- <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                                </ng-container> -->

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                </tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[05, 10]" showFirstLastButtons></mat-paginator>
                        </div>

                    </mat-card-content>

                </mat-card>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxflex="60" class=" divided_row_2">
                <form [formGroup]="rdbmsRegisterForm" [autocomplete]="'off'">
                    <mat-card class='mat-elevation-z8'>
                        <mat-card-title>
                            <h5 class="group-title">Configured New RDBMS Database.</h5>
                        </mat-card-title>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <div class="direction_row" fxlayout="row">
                                <div fxflex="50" class="half_row">
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>RDBMS Connection Type </mat-label>
                                        <mat-select placeholder="Connection Type" required
                                            (selectionChange)="setDefaultDbUrl($event)" formControlName="connectionType">
                                            <mat-option value="MySql">MySql</mat-option>
                                            <mat-option value="MsSql">MsSql</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxflex="50" class=" half_row">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>RDBMS Connection Url</mat-label>
                                        <span matPrefix>{{serverNamePrifix}} &nbsp;</span>
                                        <input matInput required formControlName="serverConnectionUrl" autocomplete="off">


                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="direction_row" fxlayout="row">
                                <div fxflex="50" class="half_row">
                                    <mat-form-field autocomplete="off" class="example-full-width" appearance="outline">
                                        <mat-label>User Name</mat-label>
                                        <input matInput placeholder="User Name" formControlName="userName" required
                                            autocomplete="off">
                                    </mat-form-field>
                                </div>
                                <div fxflex="50" class=" half_row">
                                    <mat-form-field autocomplete="off" class="example-full-width" appearance="outline">
                                        <mat-label>Password</mat-label>

                                        <input matInput placeholder="Password" formControlName="password"
                                            type="password" required autocomplete="off">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="direction_row" fxlayout="row">
                                <div fxflex="50" class="half_row">
                                    <mat-form-field autocomplete="off" class="example-full-width" appearance="outline">
                                        <mat-label>Project</mat-label>
                                        <input  matInput
                                            autocomplete="off" disabled="true" Value="IFS_RECOMMENDATION_RND">
                                    </mat-form-field>
                                </div>
                                <div fxflex="50" class=" half_row">
                                    <mat-form-field autocomplete="off" class="example-full-width" appearance="outline">
                                        <mat-label>Oganisation Unit</mat-label>

                                        <input matInput required autocomplete="off" disabled="true" Value="AjLogic IND">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="direction_row" fxlayout="row">
                                <div fxflex="50" class="half_row">
                                    <mat-slide-toggle color="primary" checked="'true'"  formControlName="isActive">Activate Connection to perform Further oprations</mat-slide-toggle>
                                </div>
                                
                            </div>

                        </mat-card-content>
                        <mat-card-actions>

                            <div class="btn_right">
                                <button mat-raised-button color="primary" (click)="verifyServerDetailsAndSave()" [disabled]="!rdbmsRegisterForm.valid" style="width: 150px;margin-right: 50px;">Verify And Save</button>
                            </div>
                          </mat-card-actions>
                    </mat-card>
                </form>

            </div>
        </div>
    </div>
</div>