<div class="dashboard">
     <div class="colored box nopad direction_row" fxlayout="row">
            <div fxflex="100" class=" divided_row_1">

                <mat-card class='mat-elevation-z8'>

                    <mat-card-title>
                        <h5 class="group-title">Create Elastic Serach Index</h5>
                    </mat-card-title>
                    <mat-divider></mat-divider>

                    <div class="direction_row" fxlayout="row">
                        <div fxflex="50" class="half_row">
                            <mat-form-field autocomplete="off" class="example-full-width" appearance="outline">
                                <mat-label>Organisation</mat-label>
                                <input matInput autocomplete="off" disabled="true" Value=" AjLogic">
                            </mat-form-field>
                        </div>
                        <div fxflex="50" class="half_row">
                            <mat-form-field autocomplete="off" class="example-full-width" appearance="outline">
                                <mat-label>Oganisation Unit</mat-label>

                                <input matInput required autocomplete="off" disabled="true" Value="AjLogic IND">
                            </mat-form-field>
                        </div>
                        <div fxflex="50" class="half_row">
                            <mat-form-field autocomplete="off" class="example-full-width" appearance="outline">
                                <mat-label>Project</mat-label>
                                <input matInput autocomplete="off" disabled="true" Value="IFS_RECOMMENDATION_RND">
                            </mat-form-field>
                        </div>

                    </div>


                    <mat-card-content>
                        <mat-horizontal-stepper linear #stepper>
                            <mat-step [stepControl]="configFormGroup">
                                <form [formGroup]="configFormGroup">
                                    <ng-template matStepLabel>Select Configuration</ng-template>

                                    <div class="direction_row" fxlayout="row">
                                        <div class="half_row">
                                            <h5 class="group-title">Configured RDBMS Server Details</h5>
                                        </div>

                                        <div class="half_row">
                                            <h5 class="group-title">Configured ES Server Details</h5>
                                        </div>
                                    </div>

                                    <div class="direction_row" fxlayout="row">

                                        <div class="half_row">
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>RDBMS Connection URL </mat-label>
                                                <mat-select placeholder="RDBMS Connection URl" required
                                                    formControlName="serverConnectionUrl"
                                                    (selectionChange)="serverConnectionUrlChange($event)">

                                                    <mat-option *ngFor="let item of listOfProjectsRdbmsConfig "
                                                        [value]="item?.serverConnectionUrl">
                                                        {{item?.serverConnectionUrl }}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                        </div>


                                        <div class="half_row">
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label>ES Connection URl </mat-label>
                                                <mat-select placeholder="ES Connection URl" required
                                                    formControlName="esConnectionUrl"
                                                    (selectionChange)="esConnectionUrlChange($event)">

                                                    <mat-option *ngFor="let item of listOfProjectsEsConfig "
                                                        [value]="item?.ipAddress">{{item?.ipAddress}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                        </div>


                                    </div>
                                    <div class="direction_row" fxlayout="row">
                                        <div fxflex="50" class="half_row">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>RDBMS Server Port</mat-label>
                                                <input disabled="true" formControlName="userName" matInput
                                                    placeholder="RDBMS User">
                                            </mat-form-field>
                                        </div>

                                        <div fxflex="50" class="half_row">
                                            <mat-form-field autocomplete="off" class="example-full-width"
                                                appearance="outline">
                                                <mat-label>ES Server Port</mat-label>
                                                <input matInput autocomplete="off" formControlName="esPort">
                                            </mat-form-field>

                                        </div>
                                    </div>
                                    <div class="direction_row" fxlayout="row">
                                        <div fxflex="50" class="half_row">
                                            <mat-form-field appearance="outline" class="example-full-width">
                                                <mat-label> Schema </mat-label>
                                                <mat-select required placeholder="ES Connection URl" required
                                                    (selectionChange)="setDefaultDbUrl($event)"
                                                    formControlName="rdbmsDatabase">
                                                    <mat-option *ngFor="let item of listOfSchema " [value]="item">
                                                        {{item}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>




                                    <div class="btn_right">
                                        <button mat-raised-button color="primary" (click)="onNextButtonClick()"
                                            matStepperNext>Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup">
                                
                                <form [formGroup]="secondFormGroup">
                                    <ng-template matStepLabel>Select fields for create Index</ng-template>
                                        <div class="colored box nopad direction_row" fxlayout="row">
                                            <div fxflex="40" class="test">
                                                <mat-card-title>
                                                    <h5 class="group-title">RDBMS MetaData</h5>
                                                </mat-card-title>
                                                <app-rdbms-metadata-tree (selectedField)="selectionchange($event)"></app-rdbms-metadata-tree>
                                            </div>
                                            <mat-divider [vertical]="true"></mat-divider>
                                            <div fxflex="60"  flex layout-fill class="test1" formArrayName="esIndexs">
                                                <div class=""
                                                    *ngFor="let index of secondFormGroup.get('esIndexs')['controls']; let i = index">
                                                    <mat-accordion>
                                                        <mat-expansion-panel class="accordion">
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-description class="panel-description">
                                                                <mat-chip-list aria-label="Fish selection">
                                                                <mat-chip color="primary" selected>Parent Table :  {{index.get('parent')?.value}} ,  Index For : {{index.get('child')?.value}} </mat-chip>
                                                                </mat-chip-list>
                                                                </mat-panel-description>
                                                            </mat-expansion-panel-header>


                                                            <div class="card-row">
                                                                <div class="card-column">
                                                                    <mat-form-field appearance="outline">
                                                                        <mat-label>ES Data Type</mat-label>
                                                                        <mat-select placeholder="ES Data Type" required>
                                                                            <mat-option value='keyword'>keyword
                                                                            </mat-option>
                                                                            <mat-option value='keyword'>Integer
                                                                            </mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="card-column">
                                                                    <mat-form-field appearance="outline">
                                                                        <mat-label>Elastic-Search Analyzer</mat-label>
                                                                        <mat-select placeholder="ES Data Type" required>
                                                                            <mat-option value='keyword'>lowercase
                                                                            </mat-option>
                                                                            <mat-option value='keyword'>stopwords
                                                                            </mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                    <span class="space"></span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    
                                </form>
                                <div class="btn_right">
                                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                                </div>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Done</ng-template>
                                You are now done.
                                <div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button (click)="stepper.reset()">Reset</button>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>


</div>